FGV - Escola de Matemática Aplicada
==
Introdução à Programação com a Linguagem Python
--

# Comprehensions:

Em Python temos existem construções sintáticas que permitem a construção de sequências de maneira mais clara e concisa. São elas:

- list comprehension
- set comprehension
- dict comprehension

## 1) List Comprehension

Uma list comprehension é uma maneira concisa de construir uma lista preenchida. Um uso comum é construir uma nova lista onde cada elemento é o resultado de alguma expressão aplicada a cada membro de outra sequência ou iterável, ou para construir uma subsequência cujos elementos satisfazem uma certa condição.

Ela irá seguir um modelo:  lista = ["expressão" for "elemento" in "sequência" if "condição"]. 

Vejamos o código abaixo:

In [1]:
cubos = []
for elementos in range(10):
    cubos.append(elementos**3)

In [2]:
print(cubos)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

Podemos reescrevê-lo de forma mais concisa utilizando a list comprehension:

In [3]:
cubos2 = [elementos**3 for elementos in range(10)]

In [4]:
print(cubos2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

A seguir temos mais um exemplo da conversão para a list comprehension:

In [5]:
l = []
for x in range(1001):
    if x%5==0 or x%3==0:
        l.append(x**2)
print(sum(l))

156390386

In [6]:
lc2 = [x**2 for x in range(1001) if x%5==0 or x%3==0]
sum(lc2)

156390386

In [7]:
type(lc2)

list

Outros exemplos:

In [16]:
sequencia = range(11)
sequencia

range(0, 11)

In [9]:
list(sequencia)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
[elemento**2 for elemento in sequencia if elemento%2==0]

[0, 4, 16, 36, 64, 100]

In [29]:
x = 1
[(y, x+y) for y in range(10) ]

SyntaxError: invalid syntax (<ipython-input-29-1d64702da4d5>, line 2)

In [12]:
[3+2 for numero in range(4)]

[5, 5, 5, 5]

In [13]:
minha_lista = [x + y for x,y in [(2,3),(4,5),(1,7)]]
minha_lista

[5, 9, 8]

In [14]:
lista = [1, "4", 9, "a", 0, 4]
quadrado_inteiros = [ i**2 for i in lista if type(i) == int ]
quadrado_inteiros

[1, 81, 0, 16]

##### Podemos fazer  uma list comprehension com múltiplos loops:

Veja o código a seguir:

In [15]:
pontos = []
for x in [1,2,3]:
    for y in [3,4,5]:
        if x != y:
            pontos.append((x,y))
print(pontos)

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5)]

Podemos reescrevê-lo dessa forma:

In [16]:
pontos = [(x,y) for x in [1,2,3] for y in [3,4,5] if x != y] # os loops serão postos, sem separação (somente um espaço), na mesma sequência do código original.
print(pontos)

[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5)]

#### Aplicando a list comprehension em listas de strings:

##### Importando o pacote string

In [30]:
import string

In [31]:
string.punctuation #nos dá as pontuações.

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [32]:
string.digits #nos dá os números.

'0123456789'

In [20]:
string.ascii_letters #nos dá as letras do alfabeto (ordenadas) minúsculas e maiúsculas, nessa ordem.

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [33]:
string.ascii_lowercase #somente as letras minúsculas.

'abcdefghijklmnopqrstuvwxyz'

In [34]:
string.ascii_uppercase #somente as letras maiúsculas.

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [35]:
string.hexdigits #nos d´s os dígitos hexadecimais.

'0123456789abcdefABCDEF'

Agora que já conhecemos brevemente o pacote string, vamos aplicar a list comprehension:

In [37]:
my_string = 'Uma string. Escrevi! Vocês duvidam? Claro, tem que ver para crer'

In [39]:
my_string.split() #O .split() "quebrará" a string nos seus espaços criando uma lista, e cada "parte" corresponderá a um elemento.

['Uma',
 'string.',
 'Escrevi!',
 'Vocês',
 'duvidam?',
 'Claro,',
 'tem',
 'que',
 'ver',
 'para',
 'crer']

Usando a list comprehension

In [26]:
[token for token in my_string.split()]

['Uma',
 'string.',
 'Escrevi!',
 'Vocês',
 'duvidam?',
 'Claro,',
 'tem',
 'que',
 'ver',
 'para',
 'crer']

In [41]:
[token.lower() for token in my_string.split()] #.lower() passará todas as letras maiúsculas para minúsculas.

['uma',
 'string.',
 'escrevi!',
 'vocês',
 'duvidam?',
 'claro,',
 'tem',
 'que',
 'ver',
 'para',
 'crer']

In [51]:
[token.strip('ruv') for token in my_string.split()] #.strip(x) retirará da lista, no caso a lista token, os elementos de x, que aqui são as pontuações.

['Uma',
 'string.',
 'Escrevi!',
 'Vocês',
 'duvidam?',
 'Claro,',
 'tem',
 'que',
 'e',
 'para',
 'cre']

In [54]:
set([token.lower().strip(string.punctuation) for token in my_string.split()])

{'claro',
 'crer',
 'duvidam',
 'escrevi',
 'para',
 'que',
 'string',
 'tem',
 'uma',
 'ver',
 'vocês'}


## 2) Set Comprehension:

As set comprehensions permitem que conjuntos sejam construídos usando os mesmos princípios que as compreensões de lista, a única diferença é que a seqüência resultante é um conjunto.

Seguiremos o modelo, apenas trocando os colchetes (da list comprehension) por chaves: conjunto = {"expressão" for "elemento" in "sequência" if "condição"}.

Vejamos o exemplo abaixo:

In [30]:
quadrados = {i**2 for i in range(5)}
print(quadrados)

{0, 1, 4, 9, 16}

In [55]:
consoantes = {letra for letra in 'cursodeverao' if letra not in "aeiou" }
print(consoantes)

{'c', 'v', 's', 'r', 'd'}

In [56]:
vogais = {letra for letra in "pythonlovers" if letra in "aeiou"}
print(vogais)

{'e', 'o'}

## 3) Dict Comprehension

Podemos escrever dicionários de sucinta usando dict comprehension. Devemos tomar cuidado pois o dicionário distingue letras maiúsculas de minúsculas.

Usamos o modelo: dicionario = {'elemento' : 'operação' for 'elemento' in 'sequência' if 'condição'}

Vejamos os seguintes exemplos:

In [57]:
quadrado = {input():x**2 for x in range(4)}
print(quadrado)

A
B
C
D
{'D': 9, 'C': 4, 'A': 0, 'B': 1}

In [34]:
quadrado = {x:x**2 for x in range(4)}
print(quadrado)

{0: 0, 1: 1, 2: 4, 3: 9}

In [35]:
d0 = {x:y for x,y in [('primeiro',1),('segundo',2)]}
d0

{'primeiro': 1, 'segundo': 2}

In [36]:
d1 = {x.upper():y for x,y in [('um',1),('dois',2),('tres',3)]}
d1

{'DOIS': 2, 'TRES': 3, 'UM': 1}

In [37]:
d2 = dict([('um',1),('dois',2),('tres',3)])
d2

{'dois': 2, 'tres': 3, 'um': 1}

In [38]:
d3 = {chave.upper():valor for chave, valor in d2.items()}
d3

{'DOIS': 2, 'TRES': 3, 'UM': 1}

In [39]:
d3.items()

dict_items([('UM', 1), ('DOIS', 2), ('TRES', 3)])

In [40]:
d4 = {chave:valor+1 for chave,valor in d3.items()}
d4

{'DOIS': 3, 'TRES': 4, 'UM': 2}

In [41]:
for alguma_coisa in d4.items():
    print(alguma_coisa)

('UM', 2)
('DOIS', 3)
('TRES', 4)

In [42]:
{chave:valor for chave,valor in [(2,3),(4,5),(1,7)]}

{1: 7, 2: 3, 4: 5}

In [43]:
disciplinas = ['Cálculo', 'IntroComp', 'ModelagemII']
notas = [8,8.5,9]

In [1]:
{disciplina:nota for disciplina,nota in zip(disciplinas, notas)}

NameError: name 'disciplinas' is not defined

In [13]:
[x for x in range(10000,10,-1) if ispalindrome(x)]

[9999,
 9889,
 9779,
 9669,
 9559,
 9449,
 9339,
 9229,
 9119,
 9009,
 8998,
 8888,
 8778,
 8668,
 8558,
 8448,
 8338,
 8228,
 8118,
 8008,
 7997,
 7887,
 7777,
 7667,
 7557,
 7447,
 7337,
 7227,
 7117,
 7007,
 6996,
 6886,
 6776,
 6666,
 6556,
 6446,
 6336,
 6226,
 6116,
 6006,
 5995,
 5885,
 5775,
 5665,
 5555,
 5445,
 5335,
 5225,
 5115,
 5005,
 4994,
 4884,
 4774,
 4664,
 4554,
 4444,
 4334,
 4224,
 4114,
 4004,
 3993,
 3883,
 3773,
 3663,
 3553,
 3443,
 3333,
 3223,
 3113,
 3003,
 2992,
 2882,
 2772,
 2662,
 2552,
 2442,
 2332,
 2222,
 2112,
 2002,
 1991,
 1881,
 1771,
 1661,
 1551,
 1441,
 1331,
 1221,
 1111,
 1001,
 999,
 989,
 979,
 969,
 959,
 949,
 939,
 929,
 919,
 909,
 898,
 888,
 878,
 868,
 858,
 848,
 838,
 828,
 818,
 808,
 797,
 787,
 777,
 767,
 757,
 747,
 737,
 727,
 717,
 707,
 696,
 686,
 676,
 666,
 656,
 646,
 636,
 626,
 616,
 606,
 595,
 585,
 575,
 565,
 555,
 545,
 535,
 525,
 515,
 505,
 494,
 484,
 474,
 464,
 454,
 444,
 434,
 424,
 414,
 404,
 393,
 383,
 373,
 363,
 353,
 343,
 333,
 323,
 313,
 303,
 292,
 282,
 272,
 262,
 252,
 242,
 232,
 222,
 212,
 202,
 191,
 181,
 171,
 161,
 151,
 141,
 131,
 121,
 111,
 101,
 99,
 88,
 77,
 66,
 55,
 44,
 33,
 22,
 11]

In [9]:
def ispalindrome(num):
    num = str(num)
    return (num == num[-1::-1])